.toolbar {
  /* background: #3f51b5;
  color: #fff;
  height: 56px;
  margin: 0; */
  top: 0;
  box-shadow: 0 0px 10px #333;
  position: fixed;
  z-index: 99;
  /* width: 100%; */
}

/* .toolbar-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
} */



.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

#banner {
  text-decoration: none;
  color: white;
}

span.logo {
  display: inherit
}

span.logo img {
  margin-right: 5px;
}

button {
  color: white;
}